<template>
  <div class="home">
    <h1>Привет</h1>
    <form-request/>
    ----------------
    <form-telegram/>
  </div>
</template>

<script>

import FormRequest from "@/components/formRequest";
import FormTelegram from "@/components/formTelegram";
export default {
  name: 'Home',
  components: {FormTelegram, FormRequest},
}
</script>
