<template>
  <form @submit.prevent="sendRequest">
    <h4>Отправить заявку</h4>
    <input v-model.trim="form.title" placeholder="Напишите title"/>
    <input v-model.trim="form.subtitle" placeholder="Напишите subtitle"/>
    <button type="submit">Отправить заявку</button>
  </form>
</template>

<script>
export default {
  name: "formRequest",
  data: () => ({
    form: {
      title: '',
      subtitle: ''
    }
  }),
  methods: {
    sendRequest() {
      const dataRequest = {
        title: this.form.title,
        subtitle: this.form.subtitle
      }
      this.$store.dispatch('createRequest', dataRequest)
    }
  }
}
</script>

<style scoped>

</style>
