<template>
  <form @submit.prevent="sendInfo">
    <p>Добавить Telegram канал</p>
    <input v-model="form.info" placeholder="Введите токен telegram канала"/>
    <button type="submit">Отправить</button>
  </form>
</template>

<script>
export default {
  name: "formTelegram",
  data: () => ({
    form: {
      info: ''
    }
  }),
  methods: {
    sendInfo() {
      const dataInfo = {
        telegram: this.form.info
      }
      this.$store.dispatch('sendTelegram', dataInfo)
    }
  }
}
</script>

<style scoped>

</style>
<!-- ,-->
